<mat-card class="about-card">
  <h2>About Us</h2>
  <p>Welcome to our Medical Domain!</p>
  <p class="highlight-text">At our medical center, we strive to provide the highest quality healthcare services. Here's why you should choose us:</p>
  <ul>
    <li><mat-icon>access_time</mat-icon> Flexible Appointments: Schedule appointments at your convenience.</li>
    <li><mat-icon>group</mat-icon> Experienced Professionals: Our team of experienced medical professionals is dedicated to your well-being.</li>
    <li><mat-icon>local_hospital</mat-icon> State-of-the-Art Facilities: We utilize advanced medical technology to ensure accurate diagnoses and effective treatments.</li>
    <li><mat-icon>security</mat-icon> Online Records: Securely access your medical records online for a hassle-free experience.</li>
    <!-- Add more points as needed -->
  </ul>
  <p>Experience the future of healthcare with our online appointment booking system. Your well-being is our top priority!</p>
</mat-card>

<footer class="footer">
  <h3>Contact Us</h3>
  <p>Email: info@yourmedicalcenter.com</p>
  <p>Address: 123 Medical Street, City, Country</p>
</footer>
