<div class="ms-lg-5 ps-lg-5 mt-lg-5 col-lg-12 row" >

  <div class="col-lg-2 me-lg-3">
    <img *ngIf="profileUser.documentAbsolutUrl!=undefined && profileUser.documentAbsolutUrl=='http://127.0.0.1:10000/devstoreaccount1/hospital-documents/'" src="/assets/user.png">
    <img *ngIf="profileUser.documentAbsolutUrl!=undefined && profileUser.documentAbsolutUrl!='http://127.0.0.1:10000/devstoreaccount1/hospital-documents/'" [src]="profileUser.documentAbsolutUrl"  alt="">
  </div>

  <div class="col-lg-10 row">
    <div class="col-lg-4 mt-lg-3 ">
    <div class="h5">{{profileUser.firstName+" "+profileUser.lastName+" "+profileUser.middleName}}</div>
  </div>
    <div *ngIf="userRole!=undefined && userRole=='doctor'" class="col-lg-8 mt-lg-1 ">
      <form  [formGroup]="statusGroup">
      <mat-form-field class="full-width">
        <mat-select placeholder="Status" formControlName="status"  (selectionChange)="onSelect($event)">
          <mat-option *ngFor="let status of statuses" [value]="status.id"   >
            {{status.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </form>
    </div>


<div class="col-lg-12 row">
    <div *ngIf="userRole!=undefined && userRole=='doctor'" class="col-lg-3 row share ">
      <div class="col-lg-2">
        <i class="fa fa-briefcase" aria-hidden="true"></i>
      </div>

      <div class="col-lg-9 row">
        <div class="title">Specialization</div>
        <div>{{profileUser.specializationTitle}}</div>
      </div>
    </div>



    <div *ngIf="userRole!=undefined && userRole!='patient'" class="col-lg-3 row share ">
      <div class="col-lg-2">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>

      <div class="col-lg-9 row">
        <div class="title">Location</div>
        <div>{{profileUser.officeAddress}}</div>
      </div>
    </div>

    <div *ngIf="userRole!=undefined && userRole=='doctor'" class="col-lg-3 row share ">
      <div class="col-lg-2">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </div>

      <div class="col-lg-9 row">
        <div class="title">Year start of career</div>
        <div>{{profileUser.careerStartYear | date}}</div>
      </div>
    </div>

  </div>
  </div>

</div>

<mat-expansion-panel class="mt-lg-4" (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title class="h6">
      Personal information
    </mat-panel-title>
  </mat-expansion-panel-header>
<app-form-update-personal-info [userProfile]="profileUser" [userRole]="userRole" (newDataForUpdating)="updatePersonalData($event)" ></app-form-update-personal-info>

</mat-expansion-panel>



<mat-expansion-panel *ngIf="userRole!=undefined && userRole!='patient'"  (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title class="h6">
    Work information
    </mat-panel-title>
  </mat-expansion-panel-header>

<app-form-update-work-info [userProfile]="profileUser"  [userRole]="userRole" (workDataForUpdating)="updateWorkData($event)" ></app-form-update-work-info>
</mat-expansion-panel>




