<div class="ms-lg-5 ps-lg-5 mt-lg-5 " >
  <form [formGroup]="detailsForm" novalidate class="col-lg-12 row" >

    <div class="col-lg-3 ">
      <mat-form-field appearance="outline" [class.mat-form-field-invalid]="submitted && f.firstName?.errors">
        <mat-label>FirstName</mat-label>
        <input matInput formControlName="firstName" maxlength="257" required [readonly]="editPersonalInfo">
        <mat-error *ngIf="submitted && f.firstName?.errors?.required">{{'ERROR.REQUIRED' | translate}}
        </mat-error>
        <mat-error *ngIf="submitted && f.firstName?.errors?.maxlength">{{'ERROR.MAXLENGTH' | translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-3 ">
      <mat-form-field appearance="outline" [class.mat-form-field-invalid]="submitted && f.lastName?.errors">
        <mat-label>LastName</mat-label>
        <input matInput formControlName="lastName" [readonly]="editPersonalInfo">
        <mat-error *ngIf="submitted && f.lastName?.errors?.required">{{'ERROR.REQUIRED' | translate}}
        </mat-error>
        <mat-error *ngIf="submitted && f.lastName?.errors?.maxlength">{{'ERROR.MAXLENGTH' | translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-3">
      <mat-form-field appearance="outline"[class.mat-form-field-invalid]="submitted && f.middleName?.errors">
        <mat-label>MiddleName</mat-label>
        <input matInput formControlName="middleName" [readonly]="editPersonalInfo">
        <mat-error *ngIf="submitted && f.middleName?.errors?.required">{{'ERROR.REQUIRED' | translate}}
        </mat-error>
        <mat-error *ngIf="submitted && f.middleName?.errors?.maxlength">{{'ERROR.MAXLENGTH' | translate}}</mat-error>

      </mat-form-field>
    </div>


    <div   class="col-lg-3">
      <mat-form-field appearance="outline"   [class.mat-form-field-invalid]="submitted && f.birthDate?.errors">
        <mat-label>Choose a date of birhday</mat-label>
        <input matInput formControlName="birthDate" [matDatepicker]="datepicker" required [readonly]="editPersonalInfo">
        <button *ngIf="!editPersonalInfo" mat-icon-button matSuffix >
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        </button>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-error *ngIf="submitted && f.birthDate?.errors?.required">{{'ERROR.REQUIRED' | translate}}
        </mat-error>


      </mat-form-field>
    </div>


    <div  class="col-lg-3">
      <mat-form-field appearance="outline" [class.mat-form-field-invalid]="submitted && f.phoneNumber?.errors">
        <mat-label>PhoneNumber</mat-label>
        <input matInput formControlName="phoneNumber" [readonly]="editPersonalInfo">
        <mat-error *ngIf="submitted && f.phoneNumber?.errors?.required">{{'ERROR.REQUIRED' | translate}}
        </mat-error>
        <mat-error *ngIf="submitted && f.phoneNumber?.errors?.maxlength">{{'ERROR.MAXLENGTH' | translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-9 row" *ngIf="!editPersonalInfo" >
      <div class="col-lg-3">
        <mat-form-field appearance="outline" >
          <mat-label>Choosea photo</mat-label>
          <button mat-icon-button matSuffix >
            <mat-icon matSuffix>photo_camera</mat-icon>
          </button>
          <ngx-mat-file-input formControlName="file" (change)="fileChangeEvent($event)">
          </ngx-mat-file-input>
        </mat-form-field>
      </div>

      <div *ngIf="isImageShowed" class="col-lg-4 ms-lg-5">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="false"
          [roundCropper]="true"
          [resizeToWidth]="0"

          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>

      <div *ngIf="f.file.value!=null" class="col-lg-2 ms-lg-2">
        <button class="col-lg-12" mat-raised-button color="warn" (click)="deleteImage()">Remove image</button>
      </div>
    </div>

    <div class="col-lg-12">
      <button class="col-lg-2" mat-raised-button color="warn" (click)="editPersonalInfo=!editPersonalInfo">Edit</button>
    </div>






    <div *ngIf="!editPersonalInfo" class="col-lg-12">
      <button class="col-lg-2  mt-lg-3 " mat-raised-button color="primary" type="submit" (click)="save()">Update</button>
    </div>
  </form>
</div>

