<div #startStyle class="navigation-wrap bg-light start-header ms-0 me-0 d-flex start-style">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="position-relative" style="cursor: pointer;">
            <img class="navbar-brand logo" #headerLogo src="/assets/hospital.png" alt="">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-label="Toggle navigation" (click)="collapse.toggle()" [attr.aria-expanded]="!isHidden">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div #collapse="ngbCollapse" [ngbCollapse]="isHidden"  class="collapse navbar-collapse justify-content-md-center justify-content-sm-start"
               id="navbarSupportedContent">
            <ul class="navbar-nav mt-10px">
              <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4" ngbDropdown>
                <a class="nav-link"  routerLink="home" >{{'HEADER.HOME' |translate}}</a>

              </li>
              <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4">
                <a class="nav-link" routerLink="about">{{'HEADER.ABOUTUS' | translate}}</a>
              </li>


              <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4" ngbDropdown>
                <span class="nav-link dropdown-toggle" ngbDropdownToggle>{{'HEADER.OFFICES' | translate}}</span>
                <div class="dropdown-menu" >
                  <a class="dropdown-item" *ngFor="let menuItem of offices"  [routerLink]="['/office', menuItem.id]" >
                    <span>{{menuItem.address}}</span>
                    <div class="status-dot" [style.backgroundColor]="menuItem.isActive ? 'green' : 'red'"></div>

                  </a>
                </div>
              </li>

              <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4">
                <a class="nav-link" routerLink="services" >{{'HEADER.SERVICES' | translate}}</a>
              </li>
              <li class="nav-item ps-4 ps-md-0 ms-0 ms-md-4">
                <a class="nav-link" routerLink="doctors">{{'HEADER.DOCTORS' | translate}}</a>
              </li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
  </div>
  <div class="me-2 mt-1 mt-md-2 d-inline-flex">
<div *ngIf="!isUserAuthorize">
    <a  class="icon-size icon-container me-4" >
      <i class="fa fa-user-plus" (click)="openRegistrationDialog()" ></i>
    </a>

    <a class="icon-size icon-container me-4"  >
      <i class="fa-solid fa-arrow-right-to-bracket" (click)="openLoginDialog()"></i>

    </a>
</div>
    <div *ngIf="isUserAuthorize">
    <a  class="icon-size icon-container me-4" [routerLink]="getToManagePage">
      <i class="fa-solid fa-user"></i>
      <div  class="status-circle"></div>
    </a>
    <a   class="me-4 icon-size"
       ><i class="fa fa-sign-out" (click)="logOut()"></i></a>
    </div>
  </div>
</div>


