<div class="ms-lg-5 ps-lg-5 mt-lg-5 " >
  <form [formGroup]="detailsForm" novalidate class="col-lg-12 row" >

    <div class="col-lg-3 ">
      <mat-form-field appearance="outline" [class.mat-form-field-invalid]="submitted && f.title?.errors">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title"  required>
        <mat-error *ngIf="submitted && f.title?.errors?.required">{{'ERROR.REQUIRED' | translate}}
        </mat-error>
        <mat-error *ngIf="submitted && f.title?.errors?.maxlength">{{'ERROR.MAXLENGTH' | translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-3 ">
      <mat-form-field appearance="outline" [class.mat-form-field-invalid]="submitted && f.price?.errors">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price">
        <mat-error *ngIf="submitted && f.price?.errors?.required">{{'ERROR.REQUIRED' | translate}}
        </mat-error>
        <mat-error *ngIf="submitted && f.price?.errors?.maxlength">{{'ERROR.MAXLENGTH' | translate}}</mat-error>
      </mat-form-field>
    </div>

    <div  class="col-lg-3" >
      <mat-form-field appearance="outline" [class.mat-form-field-invalid]="submitted && f.serviceCategoryId?.errors">
        <mat-label>Category</mat-label>
        <mat-select formControlName="serviceCategoryId" required>
<!--          <mat-option *ngFor="let category of categories" [value]="category.id"   >-->
<!--            {{category.title}}-->
<!--          </mat-option>-->
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.serviceCategoryId?.errors?.required">{{'ERROR.REQUIRED' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-12">
      <button class="col-lg-2 btn-center mt-lg-3 " mat-raised-button color="primary" type="submit" (click)="save()">Create</button>
    </div>

  </form>

</div>



